.about-section {
    text-align: center;
    padding: 0 24px;
    font-size: 20px;

    img {
        width: 170px;
        height: 170px;
    }

    .skill-description {
        text-align: justify;
    }
}