.about-section {
    text-align: center;
    padding: 0 24px;

    .photo-perfil {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: 40px;
        padding: 15px;
        background: linear-gradient(to right, $color-primary, white);
    }

    .role-description {
        text-align: justify;
    }

    h1, h2 {
        font-weight: bold;
        color: $color-secondary;
    }

    h1 {
        padding-top: 35px;
    }

    h2 {
        margin-bottom: 35px;
    }

    .skill-icon {
        width: 170px;
        height: 170px;
        margin-bottom: 20px;
    }

    .skill-wrapper:nth-child(6) > .skill-icon {
        margin-bottom: 0;
    }

    .skill-description {
        text-align: justify;
        margin-bottom: 3rem;
    }
}

.about-position {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-about-position {
    display: flex;
    height: 100%;
}