.contact-section {
    margin: 5rem auto 0;
    text-align: center;
    padding: 0 12px;
    
    .h1-contact {
        color: $color-secondary;
        font-weight: 900;

        &::after {
            content: '?';
            color: $color-primary;
        }
    }

    .h2-contact {
        color: $color-primary;
        font-weight: 500;
        margin-top: 25px;

        &::after {
            content: '!';
            color: $color-secondary;
            animation: 700ms pisca step-end infinite;
        }
    }

    .contact-wrapper {
        margin-bottom: 20px;
        border-bottom: 0.5px solid gray;

        .p-contact {
            color: $color-secondary;
            font-weight: 600;

            .span-color {
                color: $color-primary;
            }
        }

        .btn-contact {
            width: 100%;
            height: 50px;
            background-image: url(../../../dist/assets/img/background.png);
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            border-radius: 30px;
            margin-bottom: 15px;

            &:hover {
                transform: scale(1.05);
                transition: 1ms ease-in-out;
            }

            .img-download {
                width: 20px;
                height: 20px;
                filter: invert(1);
            }

            a {
                font-weight: 700;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    :nth-child(3) {
        margin-top: 50px;
    }

    .img-contact {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 20%;
    }
}

@media (min-width: 1340px) {
    .contact-section {
        .contact-wrapper {
            width: 535px;
            margin: 0 auto 20px;
        }

        :nth-child(3) {
            margin-top: 80px;
        }
    }
}