.header-menu { 
    background-image: url(../../../dist/assets/img/background.png);
    background-size: cover;

    .portfolio-title {
        font-size: 30px;
        font-weight: bold;
        color: #fff;

        .color-portfolio {
            color: $color-secondary;
        }
    }

    button {
        background-color: #fff;
    }

    ul {
        font-size: 20px;
    }
}
// Tirando o padding top do menu e Deixando o menu Fixed
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 0;
    z-index: 1030;
}

// Color dos itens dentro do menu
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.89);
}

// Mudando a cor do Hover no menu 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

// Para desktop agora

@media (min-width: 768px) {
    .header-menu {
        position: absolute;
        top: inherit;
        background-image: none;
        background-color: #fff;
        border-bottom: 0.5px solid $color-primary;
        border-color: rgba(0,0,0,0.1);

        .portfolio-title {
            color: $color-primary;
        }
    }

    .navbar {
        position: relative;
        padding: 0;
    }

// Color dos itens dentro do menu
    .navbar-light .navbar-nav .nav-link.active {
        color: $color-primary;
        font-weight: bold;
    }

    .navbar-light .navbar-nav .nav-link {
        color: $color-secondary;
    }

// Mudando a cor do Hover no menu 
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: $color-primary;
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    .navbar-margin {
        margin-left: 50px;
    }
}

@keyframes pisca {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}