.photo-section {
    background-image: url(../../../dist/assets/img/background.png);
    background-size: cover;
    
    bottom: 0;
    height: fit-content;

    &> .wrapper-social-media {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
    }

    .photo-perfil {
        display: none;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding: 15px;
        background: linear-gradient(to right, $color-primary, white);

        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    /* .photo-perfil-display {
        display: block;
    } */

    .skills-wrapper {
        display: none;
    }
}

.photo-skill-position {
    position: relative;
}

