.photo-section {
    background-image: url(../../../dist/assets/img/background.png);
    background-size: cover;
    margin-top: 36px;
    bottom: 0;
    height: -moz-fit-content;
    height: fit-content;

    &> .wrapper-social-media {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
    }

    .photo-perfil {
        display: none;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding: 15px;
        background: linear-gradient(to right, $color-primary, white);
    }

    .skills-wrapper {
        display: none;
    }
}

.photo-skill-position {
    position: relative;
}

// Para desktop agora

@media (min-width: 768px) {
    .photo-section {
        margin-top: 0;
        height: auto;

        .photo-perfil {
            display: block;
            margin: 100px auto 0;
        }

        .skills-wrapper {
            display: block;
            list-style: none;
            color: #fff;
            text-align: center;
            padding: 0;
            margin-top: 30px;
            font-size: 20px;
        }
    }
}