.projects-section {
    margin: 3rem  auto;
    align-items: center;
    justify-content: space-evenly;

    .card {
        height: 486.41px;
    }

    h1 {
        margin-top: 7rem; 
        color: $color-secondary;
        font-weight: 800;
    }

    h2 {
        margin-bottom: 5rem;
        color: $color-primary;
    }

    h1, h2 {
        text-align: center;
    }

    h1::after {
        content: ":";
        color: $color-primary;/* 
        animation: 800ms pisca step-end infinite; */
    }

    h2::after {
        content: "_";
        color: $color-secondary;
        animation: 700ms pisca step-end infinite;
    }
}

// Arruma margin-top do projects
@media (min-width: 865px) {
    .projects-section {
        margin: 0;
    }
}

// Animação
@keyframes pisca {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}