body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }
// Para desktop
/* @media (min-width: 768px) {
    html, body {
        height: -webkit-fill-available;
    }
} */