body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }

::-webkit-scrollbar {
  width: 12px;

}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #2C6291);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #245079);
}